@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@100&display=swap");
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
}

.navbar .nav_toggle {
    display: none;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color:green;
    font-family: "Dancing Script", cursive;
}

.navbar .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: green;
    font-size: 25px;
}

.formulario {
    font-family: "Roberto", sans-serif;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-image: url("../img/2772897-scaled-e1591852221341.jpeg");
    background-size: cover;
    font-size: 30px;
    }
    
    form label {
        display: block;
        margin-bottom: 10px;
        font-family: "Roberto", sans-serif;
    }
    
    .btn {
        padding: 10px 10px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        margin: 10px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }